body {
  overflow-x: hidden;
  min-width: 320px;
  background: #F8F8F8;

  font-family: 'Inter', sans-serif;
  color: var(--Black, #000);
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 1790px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon-copy {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-opacity: 0.6;
}

.main-service h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.48px;
}

.main-service h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.main-service h3 {
  font-size: 32px;
  font-weight: 500;
}

.main-service p,
.main-service li {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.main-service ul li {
  list-style: disc;
}

.btn-gray {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 75px;
  padding: 23px 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  white-space: nowrap;

  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #E0E0E0;

  color: var(--Black, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.btn-blue {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 75px;
  padding: 23px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

  background: var(--Blue, #1E2F57);

  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.btn-white {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 33px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

  background: var(--White, #FFF);

  color: var(--Blue, #1E2F57);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.hero {
  background-repeat: no-repeat;
  background-size: 1400px 782px;
  background-position: calc(50% + 700px) 100%;
}

.hero__inner {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__content {
  max-width: 907px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 52px;
}

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.about-us {
  background-repeat: no-repeat;
  background-size: 1400px 782px;
  background-position: calc(50% - 700px) calc(0% - 100px);

  padding: 100px 0;
  margin: -100px 0;
}

.about-us__inner {
  min-height: 523px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about-us__content {
  max-width: 732px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 35px;
}

.advantages {
  margin-bottom: 140px;
}

.advantages h2 {
  margin-bottom: 15px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.advantages__item {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__img {
  display: block;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.transportation {
  margin-bottom: 130px;
}

.transportation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 37px;
}

.transportation__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  gap: 30px 60px;
}

.transportation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 56px;
  padding: 57px 70px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.transportation__item .btn-white {
  margin: 0 auto;
}

.transportation__item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px;

  color: var(--White, #FFF);
}

.transportation__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 34px;
}

.services {
  margin-bottom: 120px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 67px;
}

.services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 585px) 30px minmax(auto, 990px);
  grid-template-columns: minmax(auto, 585px) minmax(auto, 990px);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
}

.services__tab-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-flex: 1;

  -ms-flex-positive: 1;

  flex-grow: 1;
  max-width: 585px;
}

.services__tab-btn {
  width: 100%;
  height: 105px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(30, 47, 87, 0.30);
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
}

.services__tab-btn:not(:last-child) {
  border-bottom: none;
}

.services__tab-btn.tab-active {
  color: #FFF;
  background: #1E2F57;
}

.services__tab-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 990px;
  height: 100%;
}

.services__tab-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 35px;
  width: 100%;
  height: 100%;

  display: none;
}

.services__tab-item.tab-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

@media(max-width:1700px) {
  .about-us {
    background-image: none !important;
    padding: 100px 0;
    margin: 0;
  }

  .about-us__content {
    max-width: 100%;
    margin: 0;
  }

  .about-us__inner {
    min-height: 300px;
  }
}

@media(max-width:1300px) {
  .services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services__tab-btns {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .services__tab-items {
    max-width: 100%;
  }
}

@media(max-width:768px) {
  .hero {
    background-position: calc(50% + 500px) 100%;
  }

  .advantages__items {
    -ms-flex-pack: distribute;
    justify-content: space-around
  }

  .transportation__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero__btns,
  .services__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .transportation__item {
    padding: 20px 20px 50px;
  }
}

@media (max-width:540px) {
  .main-service h1 {
    font-size: 40px;
  }

  .hero {
    padding-top: 100px;
    margin-top: -100px;
  }

  .hero__content {
    min-height: 500px;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .btn-gray {
    padding: 20px;
    font-size: 20px;
  }

  .btn-blue {
    font-size: 20px;
  }

  .services__tab-btn {
    padding: 10px;
    font-size: 20px;
    height: 80px;
  }
}

@media (max-width:420px) {
  .main-service h1 {
    font-size: 30px;
  }

  .main-service h2 {
    font-size: 30px;
  }

  .main-service h3 {
    font-size: 24px;
  }

  .main-service p,
  .main-service li {
    font-size: 18px;
  }

  .btn-white {
    padding: 20px;
    font-size: 20px;
  }

  .about-us {
    padding: 50px 0;
  }

  .transportation__items {
    margin: 0 -15px;
  }

  .transportation__item {
    padding: 20px 10px 35px;
  }

  .services__tab-btn {
    white-space: wrap;
    text-align: left;
    padding-left: 30px;
  }
}